body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.cta {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

.footer {
    text-align: right;
    color: gray;
}